#============= mediaserver ==============
allow mediaserver sysfs_wake_lock:file { open read write };
allow mediaserver system_data_file:sock_file write;
allow mediaserver camera_prop:property_service set;
allow mediaserver snd_data_file:dir { add_name open search write };
allow mediaserver snd_data_file:file {  getattr open read write create_file_perms };
allow mediaserver at_distributor:fd use;
allow mediaserver efs_file:dir { rename search setattr read create reparent getattr write ioctl link rmdir remove_name unlink open add_name };
allow mediaserver efs_file:file { rename setattr read lock create getattr write ioctl link unlink open append };
allow mediaserver firmware_file:dir { read search ioctl open getattr };
allow mediaserver firmware_file:file { read lock ioctl open getattr };
allow mediaserver fm_radio_device:chr_file { read lock getattr write ioctl open append };
allow mediaserver nfc:binder { transfer call };
allow mediaserver nfc:fd use;
allow mediaserver radio:binder { transfer call };
allow mediaserver radio:dir { read search ioctl open getattr };
allow mediaserver radio:fd use;
allow mediaserver radio:file { read lock ioctl open getattr };
allow mediaserver radio_data_file:dir search;
allow mediaserver radio_data_file:file { read lock ioctl open getattr };
allow mediaserver sec_efs_file:dir { rename search setattr read create reparent getattr write ioctl link rmdir remove_name unlink open add_name };
allow mediaserver sec_efs_file:file { rename setattr read lock create getattr write ioctl link unlink open append };
allow mediaserver system_data_file:dir { rename search setattr read create reparent getattr write ioctl link rmdir remove_name unlink open add_name };
allow mediaserver system_data_file:file { rename setattr read lock create getattr write ioctl link unlink open append };
allow mediaserver system_data_file:sock_file { rename setattr read lock create getattr write ioctl link unlink open append };
allow mediaserver system_fifo:dir { read search ioctl open getattr };
allow mediaserver system_file:dir { read search ioctl open getattr };
allow mediaserver system_file:file { getattr execute execute_no_trans };
allow mediaserver system_prop:property_service set;
allow mediaserver system_server:binder { transfer call };
allow mediaserver system_server:dir { read search ioctl open getattr };
allow mediaserver system_server:fd use;
