#======================otp_server================================
type otp_server, domain;
type otp_server_exec, exec_type, file_type;
init_daemon_domain(otp_server)
net_domain(otp_server)

# To make VT call
binder_use(otp_server)

allow otp_server app_efs_file:file { read open };
allow otp_server efs_file:dir { read search ioctl open getattr };
allow otp_server efs_file:file { read lock ioctl open getattr };
allow otp_server efs_file:lnk_file { read lock ioctl open getattr };
allow otp_server firmware_file:dir { read search ioctl open getattr };
allow otp_server firmware_file:file { read lock ioctl open getattr };
allow otp_server init:process sigchld;
allow otp_server otp_server:appletalk_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
allow otp_server otp_server:capability sys_nice;
allow otp_server otp_server:dir { read search ioctl open getattr };
allow otp_server otp_server:fd use;
allow otp_server otp_server:fifo_file { read lock getattr write ioctl open append };
allow otp_server otp_server:file { read lock getattr write ioctl open append };
allow otp_server otp_server:ipc { unix_read setattr associate read create write getattr unix_write destroy };
allow otp_server otp_server:key { search setattr read create write link view };
allow otp_server otp_server:key_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
allow otp_server otp_server:lnk_file { read lock ioctl open getattr };
allow otp_server otp_server:msg { receive send };
allow otp_server otp_server:msgq { unix_read setattr associate read create write enqueue getattr unix_write destroy };
allow otp_server otp_server:netlink_route_socket { nlmsg_write lock accept connect shutdown append create nlmsg_read write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
allow otp_server otp_server:netlink_selinux_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
allow otp_server otp_server:packet_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
allow otp_server otp_server:process { sigkill share getpgid signull setkeycreate siginh getattr setcurrent setrlimit rlimitinh fork getsession setexec setpgid setsched sigstop ptrace noatsecure setsockcreate setfscreate execheap sigchld execstack signal transition setcap execmem getcap getsched dyntransition };
allow otp_server otp_server:rawip_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto node_bind };
allow otp_server otp_server:sem { unix_read setattr associate read create write getattr unix_write destroy };
allow otp_server otp_server:shm { unix_read setattr associate read lock create write getattr unix_write destroy };
allow otp_server otp_server:socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
allow otp_server otp_server:tcp_socket { lock accept connect shutdown append connectto create write relabelfrom getattr getopt listen acceptfrom setopt read newconn ioctl recv_msg name_bind name_connect send_msg setattr bind recvfrom sendto relabelto node_bind };
allow otp_server otp_server:tun_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read attach_queue ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
allow otp_server otp_server:udp_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto node_bind };
allow otp_server otp_server:unix_dgram_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
allow otp_server otp_server:unix_stream_socket { lock accept connect shutdown append connectto create write relabelfrom getattr getopt listen acceptfrom setopt read newconn ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
allow otp_server otp_server_exec:file { read open getattr entrypoint execute };
allow otp_server otp_server_tmpfs:file { read write };
allow otp_server platform_app_data_file:dir { search read getattr write ioctl remove_name open add_name };
allow otp_server platform_app_data_file:file { read lock getattr write ioctl open append };
allow otp_server qseecom_device:chr_file { read write ioctl open };
allow otp_server radio_data_file:dir search;
allow otp_server radio_data_file:file { read open };
allow otp_server servicemanager:binder { transfer call };
allow otp_server shell_exec:file { read execute open execute_no_trans };
allow otp_server system_file:file execute_no_trans;
allow otp_server system_server:fifo_file { read write ioctl getattr };
allow otp_server system_server:process sigchld;
allow otp_server wifi_efs_file:file { read open };
