#============= ueventd ==============
allow ueventd vfat:file { open read };
allow ueventd vfat:dir search;
allow ueventd sysfs_camera:file { open read write };
allow ueventd sysfs_vibeamp:file { open read write };
